In [37]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### Converting the Cos Sims to column Form

In [ ]:
df = pd.read_csv('all_cos_sim.txt', header=None)
df.columns = ['stat_decade', 'station', 'napa_decade', 'cos_sim']

# keep only sims to napa_decade 2000
df = df[df['napa_decade'] == 2000]

dfp = df.pivot(index='station', columns='stat_decade', values='cos_sim')

In [21]:
df2 = pd.read_csv('all_cos_sim2.txt', header=None)
df2.columns = ['stat_decade', 'station', 'napa_decade', 'cos_sim']

In [23]:
df2.head()

   stat_decade       station  napa_decade   cos_sim
0          195  108030-99999         1990 -0.032763
1          195  108030-99999         2000  0.200895
2          195  108030-99999         2010 -0.247649
3          195  108360-99999         1990 -0.220248
4          195  108360-99999         2000 -0.091730

In [27]:
# keep only sims to napa_decade 2000
df2 = df2[df2['napa_decade'] == 2000]
df2.head()

    stat_decade       station  napa_decade   cos_sim
1           195  108030-99999         2000  0.200895
4           195  108360-99999         2000 -0.091730
7           195  108580-99999         2000  0.199086
10          195  108690-99999         2000  0.193130
13          195  115180-99999         2000 -0.142405

In [36]:
df2[df2['station'] == 'A51256-00451']

        stat_decade       station  napa_decade   cos_sim
158929          201  A51256-00451         2000 -0.409026
158932          201  A51256-00451         2000 -0.302339

In [30]:
dfc = df2.groupby(['station', 'stat_decade']).count().sort_values('cos_sim', ascending=False)

In [34]:
dfc[dfc['cos_sim'] > 1].head()

                          napa_decade  cos_sim
station      stat_decade
A51256-00451 201                    2        2
A00029-63820 201                    2        2
A00023-63890 201                    2        2
A00019-53969 201                    2        2
A00017-04868 201                    2        2

In [ ]:
dfp2 = df2.pivot(index='station', columns='stat_decade', values='cos_sim')